<div class="flex">
  <div class="w-1/2">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="max-w-sm mx-auto">
      <h2 class="text-lg font-bold mb-3">Datos Personales</h2>
    
      <div class="mb-5">
        <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
        <input 
          type="text" 
          id="nombre" 
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
          placeholder="Juan" 
          formControlName="nombre"/>
      </div>
  
      <div class="mb-5">
        <label for="apellidoPaterno" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Paterno</label>
        <input 
          type="text" 
          id="apellidoPaterno" 
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
          placeholder="Pérez" 
          formControlName="apellidoPaterno"/>
      </div>
  
      <div class="mb-5">
        <label for="apellidoMaterno" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Materno</label>
        <input 
          type="text" 
          id="apellidoMaterno" 
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
          placeholder="Gómez" 
          formControlName="apellidoMaterno"/>
      </div>
   
      <div class="mb-5 grid grid-cols-3 gap-2">
        <div>
          <label for="dia" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Día</label>
          <input 
            type="number" 
            id="dia" 
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            formControlName="dia"/>
        </div>
        <div>
          <label for="mes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mes</label>
          <input 
            type="number" 
            id="mes" 
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            formControlName="mes"/>
        </div>
        <div>
          <label for="anio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Año</label>
          <input 
            type="number" 
            id="anio" 
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            formControlName="anio"/>
        </div>
      </div>
  
      <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sexo</label>
        <div class="flex items-center">
          <input type="radio" id="masculino" value="Masculino" formControlName="sexo" class="mr-2">
          <label for="masculino" class="mr-4">Masculino</label>
          <input type="radio" id="femenino" value="Femenino" formControlName="sexo" class="mr-2">
          <label for="femenino">Femenino</label>
        </div>
      </div>
  
      <div class="flex justify-end mt-5">
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mr-3">Imprimir</button>
      </div>
    </form>
  </div>
  
  <div class="w-1/2 ml-4">
    <div *ngIf="resultado" >
      <h3 class="text-xl font-semibold mb-2">Hola {{resultado.nombre}} {{resultado.apellidoPaterno}} {{resultado.apellidoMaterno}}</h3>
      <p><strong>Edad:</strong> Tienes {{resultado.edad}} años</p>
      <p><strong>Sexo:</strong> {{ obtenerSexoRepresentacion(resultado.sexo) }}</p>
      <p><strong>Signo Zodiacal:</strong> Eres {{resultado.signo}}</p>
      <div class="mt-4">
        <img [src]="resultado.imagenSigno" alt="Signo Zodiacal">
      </div>
    </div>
  </div>
</div>

